<div class="container-section">
    <div class="row">
        {{#each data}}
        <div class="col-md-12">
            <br>
            <h5>
                Worker ID: {{ workerId }}
            </h5>
            <h5>
                Task ID: {{ taskId }}
            </h5>
            <h5>
                Asset ID: {{ assetId }}
            </h5>
            <h5>
                Time Of Allocation: {{ timeOfAllocation }}
            </h5>
            <h5>
                Task To Be Performed By: {{ taskToBePerformedBy }}
            </h5>
        </div>
        {{/each}}
    </div>
</div>